.mainWrapper_src-theme-Layout-styles-module {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ak-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
  background-color: var(--primary-bg);
}

.ak-container {
  max-width: 800px;
  padding: 40px;
  background-color: var(--bright-black);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.ak-title {
  font-weight: bold;
  font-size: 3rem;
  color: var(--primary-fg);
  margin-bottom: 20px;
}

.ak-intro {
  font-size: 1.5rem;
  color: var(--primary-fg);
  margin-bottom: 30px;
}

.ak-project-list {
  display: flex;
  list-style: disc;
  gap: 20px;
  padding: 0;
  justify-content: space-around;
  flex-direction: row;
}

.ak-project-item {
  margin-bottom: 15px;
}

.ak-project-link {
  color: var(--normal-blue);
  text-decoration: none;
  font-size: 1.2rem;
}

.ak-project-link:hover {
  text-decoration: underline;
  color: var(--normal-blue);
}

@media screen and (max-width: 996px) {
  .ak-container {
    padding: 30px;
    padding-inline: 30px;
    background-color: var(--bright-black);
    border-radius: 10px;
    text-align: center;
  }

  .ak-title {
    font-weight: bold;
    font-size: 2rem;
    color: var(--primary-fg);
    margin-bottom: 20px;
  }

  .ak-intro {
    font-size: 1.5rem;
    color: var(--primary-fg);
    margin-bottom: 30px;
  }

  .ak-project-list {
    display: flex;
    list-style: disc;
    gap: 0px;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .ak-project-item {
    margin-bottom: 5px;
  }

  .ak-project-link {
    color: var(--normal-blue);
    text-decoration: none;
    font-size: 1rem;
  }

  .ak-project-link:hover {
    text-decoration: underline;
    color: var(--normal-blue);
  }
}
