.ak-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-bg);
}

.ak-container {
  max-width: 800px;
  padding: 40px;
  background-color: var(--bright-black);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.ak-title {
  font-weight: bold;
  font-size: 3rem;
  color: var(--primary-fg);
  margin-bottom: 20px;
}

.ak-intro {
  font-size: 1.5rem;
  color: var(--primary-fg);
  margin-bottom: 30px;
}

.ak-project-list {
  display: flex;
  list-style: disc;
  gap: 20px;
  padding: 0;
  justify-content: space-around;
  flex-direction: row;
}

.ak-project-item {
  margin-bottom: 15px;
}

.ak-project-link {
  color: var(--normal-blue);
  text-decoration: none;
  font-size: 1.2rem;
}

.ak-project-link:hover {
  text-decoration: underline;
  color: var(--normal-blue);
}

@media (max-width: 996px) {
  .ak-container {
    padding: 20px;
  }

  .ak-title {
    font-size: 2.5rem;
  }

  .ak-intro {
    font-size: 1.2rem;
  }

  .ak-project-list {
    display: flex;
    list-style: disc;
    gap: 0px;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .ak-project-item {
    flex: 1 0 100%; /* Full width for each item on smaller screens */
    max-width: none; /* Remove max-width to allow full width */
  }
}
