/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.buttons > * {
  width: 100%;
}

.btn1 {
  position: relative;
  display: inline-block;
  padding: calc(
      var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
    )
    calc(
      var(--ifm-button-padding-horizontal) * var(--ifm-button-size-multiplier)
    );
  text-align: center;
  line-height: 1.5;
  color: var(--normal-black);
  font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
  font-weight: var(--ifm-button-font-weight);
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    var(--normal-blue),
    var(--normal-red),
    var(--normal-yellow),
    var(--normal-blue)
  );
  background-size: 400%;
  border-radius: 6px;
  z-index: 1;
}

.btn1:hover {
  animation: animate 8s linear infinite;
  color: var(--normal-black);
  text-decoration: none;
  font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
  font-weight: var(--ifm-button-font-weight);
}

.btn1:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(
    to right,
    var(--normal-blue),
    var(--normal-magenta),
    var(--normal-yellow),
    var(--normal-blue)
  );
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

.btn1:hover:before {
  filter: blur(20px);
  opacity: 1;
  color: var(--normal-black);
  animation: animate 8s linear infinite;
}

.btn2 {
  position: relative;
  display: inline-block;
  padding: calc(
      var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
    )
    calc(
      var(--ifm-button-padding-horizontal) * var(--ifm-button-size-multiplier)
    );
  text-align: center;
  border: none;
  outline: none;
  border-radius: 6px;
  background: linear-gradient(to right, var(--normal-blue), var(--normal-red));
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.btn2:hover {
  text-decoration: none;
}

.btn2::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border-radius: 3px;
  background-color: var(--primary-bg);
  z-index: -1;
  transition: 200ms;
}

.btn2::after {
  content: "Config";
  font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
  font-weight: var(--ifm-button-font-weight);
  background: linear-gradient(to left, var(--normal-blue), var(--normal-red));
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms;
}

.btn2:hover::before {
  color: var(--normal-black);
  opacity: 0%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.btn2:hover::after {
  color: var(--normal-black);
}

.heroBanner {
  padding-block: 1rem;
  position: relative;
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  min-height: 50vh;
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 10px var(--primary-fg),
      0 0 60px var(--primary-fg);
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 10px var(--primary-fg),
      0 0 50px var(--primary-fg);
  }
}

.heroTitle {
  display: none;
  font-weight: 800;
  margin-bottom: 0.5rem;
  font-size: 5rem;
  padding: 0;
  border: none;
  animation: pulsate 1s ease-in-out infinite alternate;
}

.heroDescription {
  text-align: left;
}

.heroBanner > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 0rem;
  position: relative;
  z-index: 2;
}

.heroContent {
  flex: 0.45;
  width: 100%;
  max-width: 28rem;
}

.heroImage {
  flex: 0.55;
}

.heroImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 500px;
}

@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}

.toggleAnimations {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 3;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  --size: 3rem;
  width: var(--size);
  size: var(--size);
  opacity: 0.45;
  transition: opacity 300ms ease-in-out;
}

.toggleAnimations:active,
.toggleAnimations:hover {
  opacity: 1;
}

.toggleAnimations > svg {
  width: 100%;
  height: 100%;
}

.toggleAnimations > svg path {
  fill: var(--primary-fg);
}
.toggleAnimations > svg circle {
  stroke: var(--primary-fg);
}

@media screen and (min-width: 996px) {
  .heroTitle {
    display: flex;
  }
  .heroBanner {
    padding: 4rem 0 calc(4rem + 100px);
  }
  .heroBanner > .container {
    flex-direction: row;
  }
  .heroImage > img {
    max-width: max-content;
  }
  .heroContent {
    max-width: unset;
  }

  .buttons,
  .heroBanner > .container {
    flex-direction: row;
  }
  .buttons > * {
    width: auto;
  }
}
