/* When its a bigger display*/

/* Hero Content */
.heroContent {
  display: flex;
  flex-direction: column;
  flex: 0.45;
  width: 100%;
  max-width: unset;
}

/* Hero Banner */
.heroBanner {
  padding: 4rem 0 calc(4rem + 100px);
  background-color: var(--primary-bg);
  color: var(--primary-fg);
}

.buttons,
.heroBanner > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  position: relative;
  z-index: 2;
}

/* Hero Title */
@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 10px var(--primary-fg),
      0 0 60px var(--primary-fg);
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 10px var(--primary-fg),
      0 0 50px var(--primary-fg);
  }
}
.heroTitle {
  display: flex;
  font-weight: 800;
  margin-bottom: 0.5rem;
  font-size: 5rem;
  padding: 0;
  border: none;
  animation: pulsate 1s ease-in-out infinite alternate;
}

@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}
.slogan {
  font-size: 1.2rem;
  text-align: left;
}
.slogan::after {
  content: " ▋";
  animation: cursor-blink 2s linear infinite;
}

/* Buttons */
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: auto;
}

.buttons > * {
  width: auto;
}

.btn1 {
  position: relative;
  display: inline-block;
  padding: calc(
      var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
    )
    calc(
      var(--ifm-button-padding-horizontal) * var(--ifm-button-size-multiplier)
    );
  text-align: center;
  line-height: 1.5;
  color: var(--normal-black);
  font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
  font-weight: var(--ifm-button-font-weight);
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    var(--normal-blue),
    var(--normal-red),
    var(--normal-yellow),
    var(--normal-blue)
  );
  background-size: 400%;
  border-radius: 6px;
  z-index: 1;
}

.btn1:hover {
  animation: animate 8s linear infinite;
  color: var(--normal-black);
  text-decoration: none;
  font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
  font-weight: var(--ifm-button-font-weight);
}

.btn1:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(
    to right,
    var(--normal-blue),
    var(--normal-magenta),
    var(--normal-yellow),
    var(--normal-blue)
  );
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

.btn1:hover:before {
  filter: blur(20px);
  opacity: 1;
  color: var(--normal-black);
  animation: animate 8s linear infinite;
}

.btn2 {
  position: relative;
  display: inline-block;
  padding: calc(
      var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
    )
    calc(
      var(--ifm-button-padding-horizontal) * var(--ifm-button-size-multiplier)
    );
  text-align: center;
  border: none;
  outline: none;
  border-radius: 6px;
  background: linear-gradient(to right, var(--normal-blue), var(--normal-red));
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.btn2:hover {
  text-decoration: none;
}

.btn2::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border-radius: 3px;
  background-color: var(--primary-bg);
  z-index: -1;
  transition: 200ms;
}

.btn2::after {
  content: "Config";
  font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
  font-weight: var(--ifm-button-font-weight);
  background: linear-gradient(to right, var(--normal-blue), var(--normal-red));
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms;
}

.btn2:hover::before {
  color: var(--normal-black);
  opacity: 0%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.btn2:hover::after {
  color: var(--normal-black);
}

/* Hero Image */
.Nvoidsvg {
  flex: 0.55;
  fill: var(--normal-blue);
  width: 35rem;
  height: 35rem;
}

/* When its on a mobile phone */
@media screen and (max-width: 996px) {
  /* Hero Content */
  .heroContent {
    max-width: 28rem;
  }
  /* Hero Banner */
  .heroBanner {
    padding-block: 1rem;
    position: relative;
    min-height: 50vh;
  }
  .heroBanner > .container {
    flex-direction: column-reverse;
    gap: 0rem;
  }
  /* Hero Title */
  .heroTitle {
    justify-content: center;
    font-size: 4rem;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
  }
  .slogan {
    text-align: center;
  }
  /* buttons */
  .buttons {
    flex-direction: column;
  }
  .buttons > * {
    width: 100%;
  }
  /* Hero Image */
  .Nvoidsvg {
    max-width: 300px;
    width: 100%;
    height: 100%;
  }
}
