.h2Text {
  font-size: 3.2rem;
  font-weight: bolder;
  color: transparent;
  background-image: linear-gradient(
    to left,
    var(--normal-magenta) 90%,
    var(--normal-blue) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
}

.h3Text {
  font-size: 2rem;
  font-weight: bolder;
  color: transparent;
  background-image: linear-gradient(
    to left,
    var(--normal-magenta) 95%,
    var(--normal-blue) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
}

.showcase-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
}

.showcase-main {
  flex: 3;
  padding: 20px;
  margin-right: auto;
}

.theme-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.theme-item {
  flex: 1 1 calc(33.333% - 20px);
  text-align: center;
}

.statusline-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.statusline-item {
  display: grid;
  justify-items: center;
  text-align: center;
}

.statusline-title {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: var(--normal-blue);
  color: var(--primary-bg);
  border-radius: 20px;
}

.theme-title {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: var(--normal-blue);
  color: var(--primary-bg);
  border-radius: 20px;
}

.theme-item img,
.statusline-item img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 996px) {
  .theme-item,
  .statusline-item {
    flex: 1 1 100%;
  }

  .showcase-container {
    flex-direction: column;
    padding: 10px;
  }

  .theme-section,
  .statusline-section {
    gap: 10px;
  }

  .theme-title {
    font-size: 1.2em;
    padding: 10px;
  }

  .showcase-main {
    padding: 0;
    margin-right: auto;
  }
}
