@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.featBanner {
  padding-block: 2rem;
  position: relative;
  background-color: var(--normal-blue);
  color: var(--normal-black);
  min-height: 1vh;
}

.container {
  position: relative;
  overflow: hidden; /* Ensure the slider and buttons do not overflow */
}

.container img {
  width: 100%;
  display: block;
  border-radius: 1rem;
}

.slider {
  position: relative;
  width: 100%;
  margin-bottom: 1rem; /* Space between image and navigation */
}

.navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem; /* Space between image and navigation */
}

.navButton {
  background-color: var(--normal-black);
  color: var(--normal-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem; /* Adjust width as needed */
  height: 2.5rem; /* Adjust height as needed */
}

.navButton:hover {
  background-color: var(--normal-grey);
}

.dots {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dot {
  --size: 1rem;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid var(--normal-black);
  cursor: pointer;
}

.dot:hover {
  outline: 2px solid var(--normal-black);
}

.dot.active {
  background-color: var(--normal-black);
  border: 2px solid transparent;
}

@media (max-width: 996px) {
  .navButton {
    width: 2rem; /* Adjusted smaller width */
    height: 2rem; /* Adjusted smaller height */
  }

  .navButton:hover {
    background-color: var(--normal-black);
  }
}
