@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.hidden {
  display: none;
}

.featBanner {
  padding-block: 2rem;
  position: relative;
  background-color: var(--normal-blue);
  color: var(--normal-black);
  min-height: 1vh;
}

.container {
  position: relative;
  overflow: hidden; /* Ensure the slider and buttons do not overflow */
}

.container img {
  width: 100%;
  display: block;
  border-radius: 1rem;
}

.slider {
  position: relative;
  width: 100%;
  margin-bottom: 1rem; /* Space between image and navigation */
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
}

.doubleBounce1,
.doubleBounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--normal-black);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
}

.doubleBounce2 {
  animation-delay: -1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem; /* Space between image and navigation */
}

.navButton {
  background-color: var(--normal-black);
  color: var(--normal-white);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem; /* Adjust width as needed */
  height: 2.5rem; /* Adjust height as needed */
}

.navButton:hover {
  background-color: var(--normal-grey);
}

.dots {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid var(--normal-black);
  cursor: pointer;
}

.dot:hover {
  outline: 2px solid var(--normal-black);
}

.dot.active {
  background-color: var(--normal-black);
  border: 2px solid transparent;
}

@media (max-width: 996px) {
  .navButton {
    width: 2rem; /* Adjusted smaller width */
    height: 2rem; /* Adjusted smaller height */
  }

  .navButton:hover {
    background-color: var(--normal-black);
  }
}
