.featBanner {
  padding: 1rem 0; /* Adjust padding */
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  position: relative;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  padding: 5rem 0; /* Adjust padding */
  width: 100%;
}

.container {
  position: relative;
  z-index: 2;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content vertically */
  margin-bottom: 2rem; /* Adjust spacing between features */
}
